.spinner {
  content: " ";
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 4px solid $blue-200;
  border-top: 4px solid $blue-500;
  border-radius: 100%;
  animation: rotation 0.6s infinite linear;
}
