@mixin size($size) {
  width: $size + px;
  height: $size + px;
}

.svg-icon {
  display: inline-block;

  &.pencil {
    @include size(30);

    fill: $white;
  }

  &.success,
  &.error,
  &.no-result {
    @include size(50);
  }
}
